
h1,h2 {
    text-align:center;
    text-decoration:underline;
    text-decoration-thickness:2px;
    width:100%;
}



p,.description {
    font-family:sans-serif;
    font-size:18px;
    line-height: 26pt;
}

.header {
    text-align:center;
    margin-bottom:3%;
}


.form-group {
    text-align:center;
}

form {
    width:100%;

}

button {	
    background: none;
	color: inherit;
	border: none;
}

.icon-div{
    display:inline-block;
    padding:0;
}

.answerLabel{
    color:#140fa8;
    font-weight:bold;
}